@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lato', sans-serif;
}
.primera-section {
    margin: 4rem 0;
}

.photo-alberto {
    border-radius: 15px;
}

.text-logo {
    font-family: 'Lobster', cursive;
}